# Remember when configuring this repo on readthedocs.org you need to specify the path to this file.
#   It's possible in the future we'll try to define that in .readthedocs.yaml, but remembering this is fine for now

furo==2023.7.26 # https://github.com/pradyunsg/furo/releases
sphinx==7.1.2
readthedocs-sphinx-search==0.3.1
sphinx-reredirects==0.1.2
sphinx-tabs==3.4.1
pygments==2.16.1 # https://github.com/pygments/pygments/releases
