# Remember when configuring this repo on readthedocs.org you need to specify the path to this file.
#   It's possible in the future we'll try to define that in .readthedocs.yaml, but remembering this is fine for now

sphinx_rtd_theme==1.1.1  # put this before sphinx so that docutils<0.18 is installed
sphinx==5.3.0
readthedocs-sphinx-search==0.1.2
sphinx-reredirects==0.1.2
